.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0.2px 0.2px 3px;
  }

  .flat-picture {
    height: 200px;
    width: 100%;
    // background-size: cover;
    object-fit: cover;
    background-position: center;
  }

  .flat-title {
    margin-top: 10px;
  }

  &.selected {
    box-shadow: 0.2px 0.2px 6px;
  }
}
